//$icon-font-path: "public/css/bower_components/bootstrap-sass-official/assets/fonts/bootstrap";

// change to this and  move fonts to font folder
// /app/fonts/glyphicons-halflings-regular.svg
//$icon-font-path: "/fonts/";

// bower:scss
//@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*!------------------------------------------------------------------
DOCUMENT INFORMATION

[Master Stylesheet]
Project:	  La Candela SPA
Version:	  1.0
Last change:  9th May, 2015
Author: Franz G
Author URI:   http://franzw.com
Primary use:  Promotion 
Client:       Dj Salsani
-------------------------------------------------------------------*/
@import "_typography.scss";
@import "_bootstrap-paper.scss";
@import "_grayscale.scss";

body {
  background-color:white;
}

.main-container{
	background-color:white;
}

header{
	font-size:2em;
}
.intro{
	background-color:red;
}