<div class=row><div class=col-lg-4><p><span class="glyphicon glyphicon-heart"></span> La Candela 2015</p></div><div class=col-lg-4><p>Address:</p></div><div class=col-lg-4>social media</div></div><div class=footer><div class=container></div></div>