<div class="row">
    <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-6">
        <h2>Upcoming Parties</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Day</th>
                    <th class="text-center">Month</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dates in upcomingParties">
                    <th class="text-center">{{dates.day }}</th>
                    <th class="text-center">{{ dates.month}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Intro Header -->
<header class="intro">
    <div class="col-md-12">
        <h1 class="brand-heading">Grayscale</h1>
        <p class="intro-text">A free, responsive, one page Bootstrap theme.
            <br>Created by Start Bootstrap.</p>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About Grayscale</h2>
            <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
        </div>
    </div>
</section>
